<!-- header -->
<mat-toolbar class="header" color="primary">
	<img src="assets/images/logo.png" alt="logo" />
	<button
		mat-icon-button
		aria-label="Search Cards"
		(click)="searchBar = !searchBar"
	>
		<mat-icon class="white-icon">search</mat-icon>
	</button>
</mat-toolbar>

<div id="search-box" *ngIf="searchBar">
	<div class="input-field">
		<input matInput type="search" [(ngModel)]="search" />
	</div>
	<button
		mat-flat-button
		color="accent"
		class="search-button"
		(click)="findCardsByName()"
	>
		Pesquisar
	</button>
</div>

<mat-progress-bar
	mode="indeterminate"
	*ngIf="loading"
	class="loading"
></mat-progress-bar>

<mat-card
	><h1 id="title">{{ title }}</h1></mat-card
>

<div id="cards-container">
	<div class="card" *ngFor="let card of cards" (click)="navigate(card.id)">
		<div class="figure">
			<img src="{{ card.imageUrl }}" alt="{{ card.name }}" />
		</div>

		<div class="card-texts">
			<span>{{ card.id }}</span>
			<span>{{ card.name }}</span>
		</div>

		<div class="cards-types">
			<span
				class="{{ 'poke-type ' + type.toLowerCase() }}"
				*ngFor="let type of card.types"
			>
				{{ type }}
			</span>
		</div>
	</div>
</div>

<div class="not-found" *ngIf="cards.length === 0">
	<div class="container">
		<img src="assets/images/psyduck.png" alt="" />
		<span>
			Parece que nem na pokedéx encontramos esse pokemón.<br />
			Tente corrigir o nome digitado!
		</span>
	</div>
</div>
