@import "../../../colors.sass"

.header
	height: 5.2rem
	display: flex
	justify-content: space-between
	img
		height: 3.2rem

.nav-img
	display: flex
	.nav-button
		margin-right: 1.6rem
		min-width: 1.6rem
		button
			.nav-icon
				font-size: 2.2rem
				color: $white
.card-title
	padding-left: 4.5rem

#body-card
	width: 100%
	min-height: 20rem
	display: flex
	justify-content: center
	.container
		width: 100%
		display: flex
		flex-wrap: wrap
		flex-direction: column-reverse
		padding: 1.6rem
		.card-image
			width: 100%
			margin-top: 3.2rem
			img
				width: 100%
				box-shadow: 5px 5px 5px #d0d0d0
		.card-description
			width: 100%
			display: flex
			flex-wrap: wrap
			span
				width: 100%
			.name
				font-family: 'Russo One', sans-serif
				font-size: 2.4rem
				margin-top: 1rem

.box-container
	width: 100%
	min-height: 1rem
	padding: 1.2rem 3.2rem
	border: 1px solid #cacaca
	border-radius: 0.6rem
	margin-top: 3.2rem
	position: relative
	.box-label
		position: absolute
		top: -25px
		left: 10px
		background: $white
		padding: 0.6rem 1.2rem
		border-radius: 1rem
		span
			font-family: 'Russo One', sans-serif
			font-size: 1rem
			color: $black
	.itens
		margin: 1.2rem 0 0.6rem 0
		.poke-type
			padding: 0.6rem 1.2rem
			border-radius: 1rem
			margin-right: 0.6rem

.card-attacks
	border: 1px solid #cacaca
	border-radius: 1rem
	padding: 1.2rem
	margin-top: 3.2rem
	.attack-container
		display: grid
		grid-template-rows: auto auto
		grid-template-columns: 1fr 3fr 1fr
		row-gap: 1.2rem
		margin-bottom: 1.2rem
		.mana-icon
			color: $blue
			margin-right: 0.6rem
		.mana-icon svg
			fill: $blue
		.dmg-icon
			color: $red
			margin-right: 0.6rem
		.dmg-icon svg
			fill: $red
		span
			display: flex
			justify-content: center
			align-items: center
		span:nth-child(2)
			font-family: 'Russo One', sans-serif
			font-size: 1rem
		span:nth-child(4)
			grid-column: 1 / span 5
	.attack-container:last-child
		margin-bottom: 0rem

.not-found
	width: 100vw
	display: flex
	justify-content: center
	align-items: center
	margin-top: 3.2rem
	.container
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center
		img
			height: 12rem
		span
			margin-top: 3.2rem
			width: 300px
			text-align: center
			font-family: 'Russo One', sans-serif
			font-size: 1.3rem
			color: $black

@media ( min-width: 500px )
	.container
		flex-direction: row !important
		width: 100% !important
		flex-wrap: nowrap !important

	.card-image
		margin-right: 3.2rem !important

	.card-description
		justify-content: center

@media ( min-width: 1000px )
	.container
		width: 1000px !important
