<!-- header -->
<mat-toolbar class="header" color="primary">
	<div class="nav-img">
		<div class="nav-button">
			<button mat-icon-button aria-label="Retornar para homepage" (click)="navigateBack()">
				<mat-icon class="nav-icon">keyboard_backspace</mat-icon>
			</button>
		</div>
		<img src="assets/images/logo.png" alt="logo" />
	</div>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading" class="loading"></mat-progress-bar>

<mat-card>
	<h1 class="card-title">Visualizar Carta</h1>
</mat-card>

<div id="body-card" *ngIf="!error">
	<div class="container">
		<div class="card-image">
			<img src="{{ card.imageUrlHiRes }}" alt="{{ card.name }}" />
		</div>
		<div class="card-description">
			<span>{{ card.id }}</span>
			<span class="name">{{ card.name }}</span>

			<div class="box-container" *ngIf="card.types">
				<div class="box-label">
					<span>Tipos</span>
				</div>

				<div class="itens">
					<span class="{{ 'poke-type ' + type.toLowerCase() }}" *ngFor="let type of card.types">
						{{ type }}
					</span>
				</div>
			</div>

			<div class="box-container" *ngIf="card.weaknesses">
				<div class="box-label">
					<span>Fraquezas</span>
				</div>

				<div class="itens">
					<span class="{{ 'poke-type ' + weakness.type.toLowerCase() }}"
						*ngFor="let weakness of card.weaknesses">
						{{ weakness.type }} {{ weakness.value }}
					</span>
				</div>
			</div>

			<div class="box-container" *ngIf="card.resistances">
				<div class="box-label">
					<span>Resistências</span>
				</div>

				<div class="itens">
					<span class="{{ 'poke-type ' + resistance.type.toLowerCase() }}"
						*ngFor="let resistance of card.resistances">
						{{ resistance.type }} {{ resistance.value }}
					</span>
				</div>
			</div>

			<div class="card-attacks" *ngIf="card.attacks">
				<div class="attack-container" *ngFor="let attack of card.attacks">
					<span>
						<mat-icon class="mana-icon" *ngIf="attack.convertedEnergyCost">
							invert_colors
						</mat-icon>
						{{ attack.convertedEnergyCost }}
					</span>
					<span>{{ attack.name }}</span>
					<span>
						<mat-icon class="dmg-icon" *ngIf="attack.damage">
							whatshot
						</mat-icon>
						{{ attack.damage }}
					</span>
					<span>{{ attack.text }}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="not-found" *ngIf="error">
	<div class="container">
		<img src="assets/images/psyduck.png" alt="" />
		<span>
			Parece que nem na Pokedéx encontramos esse pokemón.<br />
			Tente corrigir o nome digitado!
		</span>
	</div>
</div>
